# Chapter 9: An Exampleâ€”Meteorological Data

<div id="toc"></div>

## 9.1 A Hypothesis to Be Tested: The Influence of the Proximity of the Sea

### The System in the Study: The Adriatic Sea and the Po Valley

## 9.2 Data Source

## 9.3 Data Analysis on IPython Notebook

http://api.openweathermap.org/data/2.5/history/city?q=Atlanta,US

http://history.openweathermap.org/data/2.5/history/city?q=London,UK

In [18]:
test = pd.read_json('http://samples.openweathermap.org/data/2.5/history/city?q=London,UK&appid=b1b15e88fa797225412429c1c50c122a1')

In [31]:
test1 = pd.read_json('http://samples.openweathermap.org/data/2.5/history/city?q=London,UK&appid=1917b771f43a3e44b8c3cb8adc0e90bc')

In [32]:
test1

,calctime,city_id,cnt,cod,list,message
0,0.0875,2643743,3,200,"{'main': {'temp': 279.946, 'temp_min': 279.946...",
1,0.0875,2643743,3,200,"{'main': {'temp': 282.597, 'temp_min': 282.597...",
2,0.0875,2643743,3,200,"{'main': {'temp': 279.38, 'pressure': 1011, 'h...",

In [ ]:
est1 = pd.read_json('http://samples.openweathermap.org/data/2.5/history/city?q=London,UK')

In [1]:
import numpy as np
import pandas as pd
import datetime

In [ ]:
ferrara = pd.read_json('http://api.openweathermap.org/data/2.5/history/city?q=Ferrara,IT')
torino = pd.read_json('http://api.openweathermap.org/data/2.5/history/city?q=Torino,IT')
mantova = pd.read_json('http://api.openweathermap.org/data/2.5/history/city?q=Mantova,IT')
milano = pd.read_json('http://api.openweathermap.org/data/2.5/history/city?q=Milano,IT')
ravenna = pd.read_json('http://api.openweathermap.org/data/2.5/history/city?q=Ravenna,IT')
asti = pd.read_json('http://api.openweathermap.org/data/2.5/history/city?q=Asti,IT')
bologna = pd.read_json('http://api.openweathermap.org/data/2.5/history/city?q=Bologna,IT')
piacenza = pd.read_json('http://api.openweathermap.org/data/2.5/history/city?q=Piacenza,IT')
cesena = pd.read_json('http://api.openweathermap.org/data/2.5/history/city?q=Cesena,IT')
faenza = pd.read_json('http://api.openweathermap.org/data/2.5/history/city?q=Faenza,IT')

In [ ]:
ferrara = pd.read_json('http://openweathermap.org/data/2.5/history/city?q=Ferrara,IT&appid=1917b771f43a3e44b8c3cb8adc0e90bc')
torino = pd.read_json('http://history.openweathermap.org/data/2.5/history/city?q=Torino,IT')
mantova = pd.read_json('http://history.openweathermap.org/data/2.5/history/city?q=Mantova,IT')
milano = pd.read_json('http://history.openweathermap.org/data/2.5/history/city?q=Milano,IT')
ravenna = pd.read_json('http://history.openweathermap.org/data/2.5/history/city?q=Ravenna,IT')
asti = pd.read_json('http://history.openweathermap.org/data/2.5/history/city?q=Asti,IT')
bologna = pd.read_json('http://history.openweathermap.org/data/2.5/history/city?q=Bologna,IT')
piacenza = pd.read_json('http://history.openweathermap.org/data/2.5/history/city?q=Piacenza,IT')
cesena = pd.read_json('http://history.openweathermap.org/data/2.5/history/city?q=Cesena,IT')
faenza = pd.read_json('http://history.openweathermap.org/data/2.5/history/city?q=Faenza,IT')

## 9.4 The RoseWind

### Calculating the Distribution of the Wind Speed Means

## 9.5 Conclusions