# Chapter 4: The pandas Library—An Introduction

<div id="toc"></div>

## 4.1 pandas: The Python Data Analysis Library

## 4.2 Installation

### Installation from Anaconda
### Installation from PyPI
### Installation on Linux
### Installation from Source

### A Module Repository for Windows
## 4.3 Test Your pandas Installation
## 4.4 Getting Started with pandas
## 4.5 Introduction to pandas Data Structures

### The Series
* Declaring a Series

In [3]:
import pandas as pd

In [4]:
s = pd.Series([12,-4,7,9])
s

0    12
1    -4
2     7
3     9
dtype: int64

In [5]:
s = pd.Series([12,-4,7,9], index=['a','b','c','d'])
s

a    12
b    -4
c     7
d     9
dtype: int64

In [6]:
s.values

array([12, -4,  7,  9], dtype=int64)

In [7]:
s.index

Index(['a', 'b', 'c', 'd'], dtype='object')

* Selecting the Internal Elements

In [8]:
s[2]

7

In [9]:
s['b']

-4

In [10]:
s[0:2]

a    12
b    -4
dtype: int64

In [11]:
s[['b','c']]

b   -4
c    7
dtype: int64

 * Assigning Values to the Elements

In [12]:
s[1] = 0
s

a    12
b     0
c     7
d     9
dtype: int64

In [13]:
s['b'] = 1
s

a    12
b     1
c     7
d     9
dtype: int64

* Defining Series from NumPy Arrays and Other Series

In [17]:
import numpy as np
arr = np.array([1,2,3,4])
s3 = pd.Series(arr)
s3

0    1
1    2
2    3
3    4
dtype: int32

In [16]:
s4 = pd.Series(s)
s4

a    12
b     1
c     7
d     9
dtype: int64

In [18]:
s3

0    1
1    2
2    3
3    4
dtype: int32

In [19]:
arr[2] = -2
s3

0    1
1    2
2   -2
3    4
dtype: int32

 * Filtering Values

In [20]:
s[s > 8]

a    12
d     9
dtype: int64

 * Operations and Mathematical Functions

In [21]:
s / 2

a    6.0
b    0.5
c    3.5
d    4.5
dtype: float64

In [22]:
np.log(s)

a    2.484907
b    0.000000
c    1.945910
d    2.197225
dtype: float64

 * Evaluating Values

In [23]:
serd = pd.Series([1,0,2,1,2,3], index=['white','white','blue','green','green','yellow'])
serd

white     1
white     0
blue      2
green     1
green     2
yellow    3
dtype: int64

In [24]:
serd.unique()

array([1, 0, 2, 3], dtype=int64)

In [25]:
serd.value_counts()

2    2
1    2
3    1
0    1
dtype: int64

In [26]:
serd.isin([0,3])

white     False
white      True
blue      False
green     False
green     False
yellow     True
dtype: bool

In [27]:
serd[serd.isin([0,3])]

white     0
yellow    3
dtype: int64

 * NaN Values

In [28]:
s2 = pd.Series([5,-3,np.NaN,14])
s2

0     5.0
1    -3.0
2     NaN
3    14.0
dtype: float64

In [29]:
s2.isnull()

0    False
1    False
2     True
3    False
dtype: bool

In [30]:
s2.notnull()

0     True
1     True
2    False
3     True
dtype: bool

In [31]:
s2[s2.notnull()]

0     5.0
1    -3.0
3    14.0
dtype: float64

In [32]:
s2[s2.isnull()]

2   NaN
dtype: float64

* Series as Dictionaries

In [34]:
mydict = {'red': 2000, 'blue': 1000, 'yellow': 500, 'orange': 1000}
myseries = pd.Series(mydict)
myseries

blue      1000
orange    1000
red       2000
yellow     500
dtype: int64

In [35]:
colors = ['red','yellow','orange','blue','green']
myseries = pd.Series(mydict, index=colors)
myseries

red       2000.0
yellow     500.0
orange    1000.0
blue      1000.0
green        NaN
dtype: float64

* Operations between Series

In [36]:
mydict2 = {'red':400,'yellow':1000,'black':700}
myseries2 = pd.Series(mydict2)
myseries + myseries2

black        NaN
blue         NaN
green        NaN
orange       NaN
red       2400.0
yellow    1500.0
dtype: float64

### The DataFrame

* Defining a DataFrame

In [37]:
data = {'color' : ['blue','green','yellow','red','white'],
        'object' : ['ball','pen','pencil','paper','mug'],
        'price' : [1.2,1.0,0.6,0.9,1.7]}

In [39]:
frame = pd.DataFrame(data)

In [40]:
frame

    color  object  price
0    blue    ball    1.2
1   green     pen    1.0
2  yellow  pencil    0.6
3     red   paper    0.9
4   white     mug    1.7

In [41]:
frame2 = pd.DataFrame(data, columns=['object','price'])
frame2

   object  price
0    ball    1.2
1     pen    1.0
2  pencil    0.6
3   paper    0.9
4     mug    1.7

In [42]:
frame2 = pd.DataFrame(data, index=['one','two','three','four','five'])
frame2

        color  object  price
one      blue    ball    1.2
two     green     pen    1.0
three  yellow  pencil    0.6
four      red   paper    0.9
five    white     mug    1.7

In [43]:
frame3 = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index=['red','blue','yellow','white'],
                      columns=['ball','pen','pencil','paper'])
frame3

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

 * Selecting Elements

In [44]:
frame.columns

Index(['color', 'object', 'price'], dtype='object')

In [45]:
frame.index

RangeIndex(start=0, stop=5, step=1)

In [46]:
frame.values

array([['blue', 'ball', 1.2],
       ['green', 'pen', 1.0],
       ['yellow', 'pencil', 0.6],
       ['red', 'paper', 0.9],
       ['white', 'mug', 1.7]], dtype=object)

In [47]:
frame['price']

0    1.2
1    1.0
2    0.6
3    0.9
4    1.7
Name: price, dtype: float64

In [48]:
frame.price

0    1.2
1    1.0
2    0.6
3    0.9
4    1.7
Name: price, dtype: float64

In [49]:
frame.ix[2]

color     yellow
object    pencil
price        0.6
Name: 2, dtype: object

In [50]:
frame.ix[[2,4]]

    color  object  price
2  yellow  pencil    0.6
4   white     mug    1.7

In [51]:
frame[0:1]

  color object  price
0  blue   ball    1.2

In [52]:
frame[1:3]

    color  object  price
1   green     pen    1.0
2  yellow  pencil    0.6

In [53]:
frame['object'][3]

'paper'

 * Assigning Values

In [54]:
frame.index.name = 'id'; frame.columns.name = 'item'
frame

item   color  object  price
id
0       blue    ball    1.2
1      green     pen    1.0
2     yellow  pencil    0.6
3        red   paper    0.9
4      white     mug    1.7

In [55]:
frame['new'] = 12
frame

item   color  object  price  new
id
0       blue    ball    1.2   12
1      green     pen    1.0   12
2     yellow  pencil    0.6   12
3        red   paper    0.9   12
4      white     mug    1.7   12

In [56]:
frame['new'] = [3.0,1.3,2.2,0.8,1.1]
frame

item   color  object  price  new
id
0       blue    ball    1.2  3.0
1      green     pen    1.0  1.3
2     yellow  pencil    0.6  2.2
3        red   paper    0.9  0.8
4      white     mug    1.7  1.1

In [57]:
ser = pd.Series(np.arange(5))
ser

0    0
1    1
2    2
3    3
4    4
dtype: int32

In [58]:
frame['new'] = ser
frame

item   color  object  price  new
id
0       blue    ball    1.2    0
1      green     pen    1.0    1
2     yellow  pencil    0.6    2
3        red   paper    0.9    3
4      white     mug    1.7    4

In [59]:
frame['price'][2] = 3.3

C:\Anaconda36\lib\site-packages\ipykernel\__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

* Membership of a Value

In [60]:
frame.isin([1.0,'pen'])

item  color object  price    new
id
0     False  False  False  False
1     False   True   True   True
2     False  False  False  False
3     False  False  False  False
4     False  False  False  False

In [61]:
frame[frame.isin([1.0,'pen'])]

item color object  price  new
id
0      NaN    NaN    NaN  NaN
1      NaN    pen    1.0  1.0
2      NaN    NaN    NaN  NaN
3      NaN    NaN    NaN  NaN
4      NaN    NaN    NaN  NaN

* Deleting a Column

In [62]:
del frame['new']
frame

item   color  object  price
id
0       blue    ball    1.2
1      green     pen    1.0
2     yellow  pencil    3.3
3        red   paper    0.9
4      white     mug    1.7

 * Filtering

In [63]:
frame[frame < 12]

item   color  object  price
id
0       blue    ball    1.2
1      green     pen    1.0
2     yellow  pencil    3.3
3        red   paper    0.9
4      white     mug    1.7

* DataFrame from Nested dict

In [64]:
nestdict = {'red': { 2012: 22, 2013: 33 },
            'white': { 2011: 13, 2012: 22; 2013: 16},
            'blue': {2011: 17, 2012: 27; 2013: 18}}

SyntaxError: invalid syntax (<ipython-input-64-ac007c6cd817>, line 2)

In [65]:
nestdict = {'red':{2012: 22, 2013: 33},
            'white':{2011: 13, 2012: 22, 2013: 16},
            'blue': {2011: 17, 2012: 27, 2013: 18}}
frame2 = pd.DataFrame(nestdict)
frame2

      blue   red  white
2011    17   NaN     13
2012    27  22.0     22
2013    18  33.0     16

 * Transposition of a DataFrame

In [66]:
frame2.T

       2011  2012  2013
blue   17.0  27.0  18.0
red     NaN  22.0  33.0
white  13.0  22.0  16.0

### The Index Objects

In [67]:
ser = pd.Series([5,0,3,8,4], index=['red','blue','yellow','white','green'])
ser.index

Index(['red', 'blue', 'yellow', 'white', 'green'], dtype='object')

* Methods on Index

In [68]:
ser.idxmin()

'blue'

In [69]:
ser.idxmax()

'white'

* Index with Duplicate Labels

In [70]:
serd = pd.Series(range(6), index=['white','white','blue','green','green','yellow'])
serd

white     0
white     1
blue      2
green     3
green     4
yellow    5
dtype: int32

In [71]:
serd['white']

white    0
white    1
dtype: int32

In [72]:
serd.index.is_unique

False

In [73]:
frame.index.is_unique

True

## 4.6 Other Functionalities on Indexes

### Reindexing

In [74]:
ser = pd.Series([2,5,7,4], index=['one','two','three','four'])
ser

one      2
two      5
three    7
four     4
dtype: int64

In [75]:
ser.reindex(['three','four','five','one'])

three    7.0
four     4.0
five     NaN
one      2.0
dtype: float64

In [76]:
ser3 = pd.Series([1,5,6,3],index=[0,3,5,6])

In [77]:
ser3

0    1
3    5
5    6
6    3
dtype: int64

In [78]:
ser3.reindex(range(6),method='ffill')

0    1
1    1
2    1
3    5
4    5
5    6
dtype: int64

In [79]:
ser3.reindex(range(6),method='bfill')

0    1
1    5
2    5
3    5
4    6
5    6
dtype: int64

In [80]:
frame.reindex(range(5), method='ffill',columns=['colors','price','new','object'])

item  colors  price  new  object
id
0        NaN    1.2  NaN    ball
1        NaN    1.0  NaN     pen
2        NaN    3.3  NaN  pencil
3        NaN    0.9  NaN   paper
4        NaN    1.7  NaN     mug

### Dropping

In [83]:
ser = pd.Series(np.arange(4.), index=['red','blue','yellow','white'])
ser

red       0.0
blue      1.0
yellow    2.0
white     3.0
dtype: float64

In [84]:
ser.drop('yellow')

red      0.0
blue     1.0
white    3.0
dtype: float64

In [85]:
ser.drop(['blue','white'])

red       0.0
yellow    2.0
dtype: float64

In [86]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
                     index=['red','blue','yellow','white'],
                     columns=['ball','pen','pencil','paper'])
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [87]:
frame.drop(['blue','yellow'])

       ball  pen  pencil  paper
red       0    1       2      3
white    12   13      14     15

In [88]:
frame.drop(['pen','pencil'],axis=1)

        ball  paper
red        0      3
blue       4      7
yellow     8     11
white     12     15

### Arithmetic and Data Alignment

In [89]:
s1 = pd.Series([3,2,5,1],['white','yellow','green','blue'])
s2 = pd.Series([1,4,7,2,1],['white','yellow','black','blue','brown'])

In [90]:
s1 + s2

black     NaN
blue      3.0
brown     NaN
green     NaN
white     4.0
yellow    6.0
dtype: float64

In [91]:
frame1 = pd.DataFrame(np.arange(16).reshape((4,4)),
                      index=['red','blue','yellow','white'],
                      columns=['ball','pen','pencil','paper'])

frame2 = pd.DataFrame(np.arange(12).reshape((4,3)),
                      index=['blue','green','white','yellow'],
                      columns=['mug','pen','ball'])

frame1

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [92]:
frame1

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [93]:
frame2

        mug  pen  ball
blue      0    1     2
green     3    4     5
white     6    7     8
yellow    9   10    11

## 4.7 Operations between Data Structures

### Flexible Arithmetic Methods

In [94]:
frame1.add(frame2)

        ball  mug  paper   pen  pencil
blue     6.0  NaN    NaN   6.0     NaN
green    NaN  NaN    NaN   NaN     NaN
red      NaN  NaN    NaN   NaN     NaN
white   20.0  NaN    NaN  20.0     NaN
yellow  19.0  NaN    NaN  19.0     NaN

### Operations between DataFrame and Series

In [95]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
                     index=['red','blue','yellow','white'],
                     columns=['ball','pen','pencil','paper'])
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [96]:
ser = pd.Series(np.arange(4), index=['ball','pen','pencil','paper'])
ser

ball      0
pen       1
pencil    2
paper     3
dtype: int32

In [98]:
frame - ser

        ball  pen  pencil  paper
red        0    0       0      0
blue       4    4       4      4
yellow     8    8       8      8
white     12   12      12     12

In [99]:
ser['mug'] = 9
ser

ball      0
pen       1
pencil    2
paper     3
mug       9
dtype: int64

In [100]:
frame - ser

        ball  mug  paper  pen  pencil
red        0  NaN      0    0       0
blue       4  NaN      4    4       4
yellow     8  NaN      8    8       8
white     12  NaN     12   12      12

## 4.8 Function Application and Mapping
### Functions by Element

In [101]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
                     index=['red','blue','yellow','white'],
                     columns=['ball','pen','pencil','paper'])
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [102]:
np.sqrt(frame)

            ball       pen    pencil     paper
red     0.000000  1.000000  1.414214  1.732051
blue    2.000000  2.236068  2.449490  2.645751
yellow  2.828427  3.000000  3.162278  3.316625
white   3.464102  3.605551  3.741657  3.872983

### Functions by Row or Column

In [103]:
f = lambda x: x.max() - x.min()

In [104]:
def f(x):
    return x.max() - x.min()

In [105]:
frame.apply(f)

ball      12
pen       12
pencil    12
paper     12
dtype: int64

In [106]:
frame.apply(f, axis=1)

red       3
blue      3
yellow    3
white     3
dtype: int64

In [107]:
def f(x):
    return pd.Series([x.min(), x.max()], index=['min','max'])

In [108]:
frame.apply(f)

     ball  pen  pencil  paper
min     0    1       2      3
max    12   13      14     15

### Statistics Functions

In [109]:
frame.sum()

ball      24
pen       28
pencil    32
paper     36
dtype: int64

In [110]:
frame.mean()

ball      6.0
pen       7.0
pencil    8.0
paper     9.0
dtype: float64

In [112]:
frame.describe()

            ball        pen     pencil      paper
count   4.000000   4.000000   4.000000   4.000000
mean    6.000000   7.000000   8.000000   9.000000
std     5.163978   5.163978   5.163978   5.163978
min     0.000000   1.000000   2.000000   3.000000
25%     3.000000   4.000000   5.000000   6.000000
50%     6.000000   7.000000   8.000000   9.000000
75%     9.000000  10.000000  11.000000  12.000000
max    12.000000  13.000000  14.000000  15.000000

## 4.9 Sorting and Ranking

In [113]:
ser = pd.Series([5,0,3,8,4], index=['red','blue','yellow','white','green'])
ser

red       5
blue      0
yellow    3
white     8
green     4
dtype: int64

In [114]:
ser.sort_index(ascending=False)

yellow    3
white     8
red       5
green     4
blue      0
dtype: int64

In [115]:
frame = pd.DataFrame(np.arange(16).reshape((4,4)),
                     index=['red','blue','yellow','white'],                     
                     columns=['ball','pen','pencil','paper'])
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [116]:
frame.sort_index()

        ball  pen  pencil  paper
blue       4    5       6      7
red        0    1       2      3
white     12   13      14     15
yellow     8    9      10     11

In [117]:
frame.sort_index(axis=1)

        ball  paper  pen  pencil
red        0      3    1       2
blue       4      7    5       6
yellow     8     11    9      10
white     12     15   13      14

In [118]:
ser.order()

C:\Anaconda36\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: order is deprecated, use sort_values(...)
  if __name__ == '__main__':

blue      0
yellow    3
green     4
red       5
white     8
dtype: int64

In [119]:
frame.sort_index(by='pen')

C:\Anaconda36\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  if __name__ == '__main__':

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [120]:
frame.sort_index(by=['pen','pencil'])

C:\Anaconda36\lib\site-packages\ipykernel\__main__.py:1: FutureWarning: by argument to sort_index is deprecated, pls use .sort_values(by=...)
  if __name__ == '__main__':

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [121]:
ser.rank()

red       4.0
blue      1.0
yellow    2.0
white     5.0
green     3.0
dtype: float64

In [122]:
ser.rank(method='first')

red       4.0
blue      1.0
yellow    2.0
white     5.0
green     3.0
dtype: float64

In [123]:
ser.rank(ascending=False)

red       2.0
blue      5.0
yellow    4.0
white     1.0
green     3.0
dtype: float64

## 4.10 Correlation and Covariance

In [126]:
seq2 = pd.Series([3,4,3,4,5,4,3,2],['2006','2007','2008','2009','2010','2011','2012','2013'])
seq = pd.Series([1,2,3,4,4,3,2,1],['2006','2007','2008','2009','2010','2011','2012','2013'])

In [127]:
seq.corr(seq2)

0.77459666924148352

In [128]:
seq.cov(seq2)

0.8571428571428571

In [130]:
frame2 = pd.DataFrame([[1,4,3,6],[4,5,6,1],[3,3,1,5],[4,1,6,4]],
                   index=['red','blue','yellow','white'],
                   columns=['ball','pen','pencil','paper'])
frame2

        ball  pen  pencil  paper
red        1    4       3      6
blue       4    5       6      1
yellow     3    3       1      5
white      4    1       6      4

In [132]:
frame2.corr()

            ball       pen    pencil     paper
ball    1.000000 -0.276026  0.577350 -0.763763
pen    -0.276026  1.000000 -0.079682 -0.361403
pencil  0.577350 -0.079682  1.000000 -0.692935
paper  -0.763763 -0.361403 -0.692935  1.000000

In [134]:
frame2.corrwith(ser)

ball     -0.140028
pen      -0.869657
pencil    0.080845
paper     0.595854
dtype: float64

In [135]:
frame2.corrwith(frame)

ball      0.730297
pen      -0.831522
pencil    0.210819
paper    -0.119523
dtype: float64

## 4.11 “Not a Number” Data

### Assigning a NaN Value

In [136]:
ser = pd.Series([0,1,2,np.NaN,9], index=['red','blue','yellow','white','green'])
ser

red       0.0
blue      1.0
yellow    2.0
white     NaN
green     9.0
dtype: float64

In [137]:
ser['white'] = None
ser

red       0.0
blue      1.0
yellow    2.0
white     NaN
green     9.0
dtype: float64

### Filtering Out NaN Values

In [138]:
ser.dropna()

red       0.0
blue      1.0
yellow    2.0
green     9.0
dtype: float64

In [139]:
ser[ser.notnull()]

red       0.0
blue      1.0
yellow    2.0
green     9.0
dtype: float64

In [140]:
frame3 = pd.DataFrame([[6,np.nan,6],[np.nan,np.nan,np.nan],[2,np.nan,5]],
                      index = ['blue','green','red'],
                      columns = ['ball','mug','pen'])

In [141]:
frame3

       ball  mug  pen
blue    6.0  NaN  6.0
green   NaN  NaN  NaN
red     2.0  NaN  5.0

In [142]:
frame3.dropna(how='all')

      ball  mug  pen
blue   6.0  NaN  6.0
red    2.0  NaN  5.0

### Filling in NaN Occurrences

In [143]:
frame3.fillna(0)

       ball  mug  pen
blue    6.0  0.0  6.0
green   0.0  0.0  0.0
red     2.0  0.0  5.0

In [144]:
frame3.fillna({'ball':1,'mug':0,'pen':99})

       ball  mug   pen
blue    6.0  0.0   6.0
green   1.0  0.0  99.0
red     2.0  0.0   5.0

## 4.12 Hierarchical Indexing and Leveling

In [145]:
mser = pd.Series(np.random.rand(8),
                 index=[['white','white','white','blue','blue','red','red','red'],
                        ['up','down','right','up','down','up','down','left']])
mser

white  up       0.434400
       down     0.942360
       right    0.665148
blue   up       0.329476
       down     0.580203
red    up       0.301266
       down     0.043086
       left     0.148905
dtype: float64

In [146]:
mser.index

MultiIndex(levels=[['blue', 'red', 'white'], ['down', 'left', 'right', 'up']],
           labels=[[2, 2, 2, 0, 0, 1, 1, 1], [3, 0, 2, 3, 0, 3, 0, 1]])

In [147]:
mser['white']

up       0.434400
down     0.942360
right    0.665148
dtype: float64

In [148]:
mser[:,'up']

white    0.434400
blue     0.329476
red      0.301266
dtype: float64

In [149]:
mser['white','up']

0.4344003416809239

In [150]:
mser.unstack()

           down      left     right        up
blue   0.580203       NaN       NaN  0.329476
red    0.043086  0.148905       NaN  0.301266
white  0.942360       NaN  0.665148  0.434400

In [151]:
frame

        ball  pen  pencil  paper
red        0    1       2      3
blue       4    5       6      7
yellow     8    9      10     11
white     12   13      14     15

In [152]:
frame.stack()

red     ball       0
        pen        1
        pencil     2
        paper      3
blue    ball       4
        pen        5
        pencil     6
        paper      7
yellow  ball       8
        pen        9
        pencil    10
        paper     11
white   ball      12
        pen       13
        pencil    14
        paper     15
dtype: int32

In [153]:
mframe = pd.DataFrame(np.random.randn(16).reshape(4,4),
                      index=[['white','white','red','red'], ['up','down','up','down']],
                      columns=[['pen','pen','paper','paper'],[1,2,1,2]])
mframe

                 pen               paper
                   1         2         1         2
white up   -0.693579 -0.374331  0.382002  1.539948
      down -0.816785 -1.334461  0.202928  0.068978
red   up   -1.029277  0.167646  0.127078  0.651874
      down  0.947015  0.836286 -1.411437 -0.901950

### Reordering and Sorting Levels

In [154]:
mframe.columns.names = ['objects','id']

In [155]:
mframe.index.names = ['colors','status']

In [156]:
mframe

objects             pen               paper
id                    1         2         1         2
colors status
white  up     -0.693579 -0.374331  0.382002  1.539948
       down   -0.816785 -1.334461  0.202928  0.068978
red    up     -1.029277  0.167646  0.127078  0.651874
       down    0.947015  0.836286 -1.411437 -0.901950

In [157]:
mframe.swaplevel('colors','status')

objects             pen               paper
id                    1         2         1         2
status colors
up     white  -0.693579 -0.374331  0.382002  1.539948
down   white  -0.816785 -1.334461  0.202928  0.068978
up     red    -1.029277  0.167646  0.127078  0.651874
down   red     0.947015  0.836286 -1.411437 -0.901950

In [158]:
mframe.sortlevel('colors')

objects             pen               paper
id                    1         2         1         2
colors status
red    down    0.947015  0.836286 -1.411437 -0.901950
       up     -1.029277  0.167646  0.127078  0.651874
white  down   -0.816785 -1.334461  0.202928  0.068978
       up     -0.693579 -0.374331  0.382002  1.539948

### Summary Statistic by Level

In [159]:
mframe.sum(level='colors')

objects       pen               paper
id              1         2         1         2
colors
red     -0.082262  1.003932 -1.284359 -0.250076
white   -1.510365 -1.708792  0.584930  1.608926

In [160]:
mframe.sum(level='id', axis=1)

id                    1         2
colors status
white  up     -0.311577  1.165617
       down   -0.613858 -1.265483
red    up     -0.902199  0.819520
       down   -0.464422 -0.065664

## 4.13 Conclusions