## 5.1 Lists are like arrays

In [2]:
# This assigns a three-element list to x
x = [1, 2, 3]
x

[1, 2, 3]

In [3]:
x = [2, "two", [1, 2, 3]]
len(x)

3

In [4]:
x = ["first", "second", "third", "fourth"]

In [5]:
x[0]

'first'

In [6]:
x[2]

'third'

In [7]:
a = x[-1]
a

'fourth'

In [8]:
x[-2]

'third'

In [9]:
x = ["first", "second", "third", "fourth"]

In [10]:
x[1:-1]

['second', 'third']

In [11]:
x[0:3]

['first', 'second', 'third']

In [12]:
x[-2:-1]

['third']

In [13]:
x[-1:2]

[]

In [14]:
x[:3]

['first', 'second', 'third']

In [15]:
x[2:]

['third', 'fourth']

In [16]:
y = x[:]

In [17]:
y[0] = '1 st'
y

['1 st', 'second', 'third', 'fourth']

In [18]:
x

['first', 'second', 'third', 'fourth']

## 5.3 Modifying lists

In [20]:
x = [1, 2, 3, 4]
x[1] = "two"
x

[1, 'two', 3, 4]

In [21]:
x = [1, 2, 3, 4]
x[len(x):] = [5, 6, 7]
x

[1, 2, 3, 4, 5, 6, 7]

In [22]:
x[:0] = [-1, 0]
x

[-1, 0, 1, 2, 3, 4, 5, 6, 7]

In [23]:
x[1:-1] = []
x

[-1, 7]

In [24]:
x = [1, 2, 3]
x.append("four")
x

[1, 2, 3, 'four']

In [25]:
x = [1, 2, 3, 4]
y = [5, 6, 7]
x.append(y)
x

[1, 2, 3, 4, [5, 6, 7]]

In [26]:
x = [1, 2, 3, 4]
y = [5, 6, 7]
x.extend(y)
x

[1, 2, 3, 4, 5, 6, 7]

In [27]:
x = [1, 2, 3]
x.insert(2, "hello")
print(x)
x.insert(0, "start")
print(x)

[1, 2, 'hello', 3]
['start', 1, 2, 'hello', 3]

In [29]:
x = [1, 2, 3]
x.insert(-1, "hello")
print(x)

[1, 2, 'hello', 3]

In [30]:
x = ['a', 2, 'c', 7, 9, 11]
del x[1]
x

['a', 'c', 7, 9, 11]

In [31]:
del x[:2]
x

[7, 9, 11]

In [32]:
x = [1, 2, 3, 4, 3, 5]
x.remove(3)
x

[1, 2, 4, 3, 5]

In [33]:
x.remove(3)
x

[1, 2, 4, 5]

In [35]:
x = [1, 3, 5, 6, 7]
x.reverse()
x

[7, 6, 5, 3, 1]

### 5.4 Sorting lists

In [36]:
x = [3, 8, 4, 0, 2, 1]
x.sort()
x

[0, 1, 2, 3, 4, 8]

In [37]:
x = [2, 4, 1, 3]
y = x[:]
y.sort()
y

[1, 2, 3, 4]

In [38]:
x

[2, 4, 1, 3]

In [39]:
x = ["Life", "Is", "Enchanting"]
x.sort()
x

['Enchanting', 'Is', 'Life']

In [40]:
x = [1, 2, 'hello', 3]
x.sort()

TypeError: unorderable types: str() < int()

In [41]:
x = [[3, 5], [2, 9], [2, 3], [4, 1], [3, 2]]
x.sort()
x

[[2, 3], [2, 9], [3, 2], [3, 5], [4, 1]]

### 5.4.1 Custom sorting

In [42]:
def compare_num_of_chars(string1):
    return len(string1)

In [43]:
word_list = ['Python', 'is', 'better', 'than', 'C']
word_list.sort()
print(word_list)

['C', 'Python', 'better', 'is', 'than']

In [44]:
word_list = ['Python', 'is', 'better', 'than', 'C']
word_list.sort(key=compare_num_of_chars)
print(word_list)

['C', 'is', 'than', 'Python', 'better']

### 5.4.2 The sorted() function

In [46]:
x = (4, 3, 1, 2)
y = sorted(x)
y

[1, 2, 3, 4]

## 5.5 Other common list operations
### 5.5.1 List membership with the in operator

In [48]:
3 in [1, 3, 4, 5]

True

In [49]:
3 not in [1, 3, 4, 5]

False

In [50]:
3 in ["one", "two", "three"]

False

In [51]:
3 not in ["one", "two", "three"]

True

### 5.5.2 List concatenation with the + operator

In [52]:
z = [1, 2, 3] + [4, 5]
z

[1, 2, 3, 4, 5]

### 5.5.3 List initialization with the * operator

In [54]:
z = [None] * 4
z

[None, None, None, None]

In [55]:
z = [3, 1] * 2
z

[3, 1, 3, 1]

### 5.5.4 List minimum or maximum with min and max

In [56]:
min([3, 7, 0, -2, 11])

-2

In [57]:
max([4, "Hello", [1, 2]])

TypeError: unorderable types: str() > int()

### 5.5.5 List search with index

In [58]:
x = [1, 3, "five", 7, -2]

In [59]:
x.index(7)

3

In [60]:
x.index(5)

ValueError: 5 is not in list

### 5.5.6 List matches with count

In [63]:
x = [1, 2, 2, 3, 5, 2, 5]

In [64]:
x.count(2)

3

In [65]:
x.count(5)

2

In [66]:
x.count(4)

0

## 5.6 Nested lists and deep copies

In [67]:
m = [[0, 1, 2], [10, 11, 12], [20, 21, 22]]

In [68]:
m[0]

[0, 1, 2]

In [69]:
m[0][1]

1

In [70]:
m[2]

[20, 21, 22]

In [71]:
m[2][2]

22

In [72]:
nested = [0]
original = [nested, 1]
original

[[0], 1]

In [73]:
nested[0] = 'zero'
original

[['zero'], 1]

In [74]:
original[0][0] = 0
nested

[0]

In [75]:
original

[[0], 1]

In [76]:
nested = [2]
original

[[0], 1]

----

In [77]:
original = [[0], 1]
shallow = original[:]
import copy
deep = copy.deepcopy(original)

In [78]:
shallow[1] = 2
shallow

[[0], 2]

In [79]:
original

[[0], 1]

In [80]:
shallow[0][0] = 'zero'
original

[['zero'], 1]

In [81]:
deep[0][0] = 5
deep

[[5], 1]

## 5.7 Tuples
### 5.7.1 Tuple basics

In [82]:
x = ('a', 'b', 'c')

In [83]:
x[2]

'c'

In [84]:
x[1:]

('b', 'c')

In [85]:
len(x)

3

In [86]:
max(x)

'c'

In [87]:
min(x)

'a'

In [88]:
5 in x

False

In [89]:
5 not in x

True

In [90]:
x[2] = 'd'

TypeError: 'tuple' object does not support item assignment

In [91]:
x + x

('a', 'b', 'c', 'a', 'b', 'c')

In [92]:
2 * x

('a', 'b', 'c', 'a', 'b', 'c')

In [93]:
x[:]

('a', 'b', 'c')

In [94]:
x * 1

('a', 'b', 'c')

In [95]:
x + ()

('a', 'b', 'c')

### 5.7.2 One-element tuples need a comma

In [96]:
x = 3

In [97]:
y = 4

In [98]:
(x + y)

7

In [99]:
(x + y,)

(7,)

In [100]:
()

()

### 5.7.3 Packing and unpacking tuples

In [102]:
(one, two, three, four) = (1, 2, 3, 4)

In [103]:
one

1

In [104]:
two

2

---

In [120]:
x = (1, 2, 3, 4,5)

In [121]:
a, b, *c = x

In [122]:
a, b, c

(1, 2, [3, 4, 5])

In [123]:
a, *b, c = x

In [124]:
a, b, c

(1, [2, 3, 4], 5)

In [125]:
*a, b, c = x

In [126]:
a, b, c

([1, 2, 3], 4, 5)

In [127]:
a, b, c, d, *e = x

In [128]:
a, b, c, d, e

(1, 2, 3, 4, [5])

### 5.7.4 Converting between lists and tuples

In [129]:
list((1, 2, 3, 4))

[1, 2, 3, 4]

In [130]:
tuple([1, 2, 3, 4])

(1, 2, 3, 4)

In [131]:
list("Hello")

['H', 'e', 'l', 'l', 'o']

### 5.8.1 Set operations

In [132]:
x = set([1, 2, 3, 1, 3, 5])
x

{1, 2, 3, 5}

In [133]:
x.add(6)
x

{1, 2, 3, 5, 6}

In [134]:
x.remove(5)
x

{1, 2, 3, 6}

In [135]:
1 in x

True

In [136]:
4 in x

False

In [137]:
y = set([1, 7, 8, 9])

In [138]:
x | y

{1, 2, 3, 6, 7, 8, 9}

In [139]:
x & y

{1}

In [140]:
x ^ y

{2, 3, 6, 7, 8, 9}